.accounts_view_container {
    -fx-background-color: #EEEEEE;
}

.accounts_view_container Text {
    -fx-fill: #888888;
    -fx-font-family: "Calibri light";
    -fx-font-size: 1.4em;
}

.accounts_view_container VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #888888;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.accounts_view_container VBox Text {
    -fx-font-size: 1.2em;
}

.accounts_view_container VBox Label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.accounts_view_container TextField {
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.accounts_view_container Button {
    -fx-background-color: linear-gradient(to right, #132a13, #253f25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri light";
    -fx-text-fill: #FFFFFF;
}

.accounts_view_container Button:hover {
    -fx-cursor: hand;
}