.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri light";
}

.date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri light";
}

.section_title {
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri light";
}

/*Accounts View*/
.account_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #DDDDDD;
    -fx-spacing: 10;
}

.account {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}

.account VBox {
    -fx-background-color: #FFFFFF;
}

.account Text {
    -fx-fill: #FFFFFF;
    -fx-font-family: "Calibri light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right, #132a13, #253f25);
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}

.summary_view {
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-alignment: center_left;
}

.acc_summary_container {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
    -fx-border-radius: 10;
    -fx-border-color: #999999;
    -fx-border-width: 1;
    -fx-border-style: dashed;
}

.acc_summary_container Line {
    -fx-stroke: #AAAAAA;
}

.income_amount {
    -fx-text-fill: "#00AA00";
    -fx-font-family: "Calibri light";
    -fx-font-size: 1.5em;
}

.expense_amount {
    -fx-text-fill: "#AA0000";
    -fx-font-family: "Calibri light";
    -fx-font-size: 1.5em;
}

/*Transactions View*/
.transaction_listview {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #AAAAAA;
}

.transaction_listview .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-padding: 15 0 15 0;
}

/*Send Money View*/
.new_trans_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.new_trans_container Label {
    -fx-font-family: "Calibri light";
    -fx-font-size: 1.3em;
}

.new_trans_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.new_trans_container Button {
    -fx-background-color: linear-gradient(to right, #132a13, #253f25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri light";
    -fx-text-fill: #FFFFFF;
}

.new_trans_container Button:hover {
    -fx-cursor: hand;
}