.transactions_container {
    -fx-background-color: #EEEEEE;
}

.transactions_container Text {
    -fx-fill: #000000;
    -fx-font-family: "Calibri light";
    -fx-font-size: 2.5em;
}

.transactions_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

.transactions_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}